# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [26]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key
from config import api_key

# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [27]:
file= '../Weather_Jake.py/weather_data.csv'
weather_data_df= pd.read_csv(file)

weather_data_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,provideniya,64.3833,-173.3000,30.25,66,98,1.57
1,simpang,-1.2667,104.0833,74.50,94,97,1.05
2,vaini,-21.2000,-175.2000,77.00,94,90,6.91
3,vostok,46.4856,135.8833,33.76,54,16,3.89
4,ternate,0.8000,127.4000,81.00,77,100,1.32
...,...,...,...,...,...,...,...
542,mentougou,39.9392,116.0917,50.00,65,0,2.24
543,ban nahin,18.2418,104.2122,70.84,94,100,0.96
544,lufilufi,-13.8745,-171.5986,77.00,94,40,7.61
545,kirillov,59.8630,38.3813,37.40,70,20,6.71
546,todos santos,23.4500,-110.2167,70.00,69,0,1.01

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [28]:
#capture lat and long
locations= weather_data_df[['Lat', 'Lng']]

humidity_weight= weather_data_df['Humidity']

In [29]:
#plot heatmap with gmaps
fig = gmaps.figure()

#create heat layer on top of gmaps
#make weight of heatmap reflect humidity
heat_layer= gmaps.heatmap_layer(locations, weights=humidity_weight, dissipating=False, max_intensity=100,
                                 point_radius=1.5)

#add layer to figure
fig.add_layer(heat_layer)

#Display combined
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [30]:
#reference main df
weather_data_df.head()

          City      Lat       Lng  Max Temp  Humidity  Cloudiness  Wind Speed
0  provideniya  64.3833 -173.3000     30.25        66          98        1.57
1      simpang  -1.2667  104.0833     74.50        94          97        1.05
2        vaini -21.2000 -175.2000     77.00        94          90        6.91
3       vostok  46.4856  135.8833     33.76        54          16        3.89
4      ternate   0.8000  127.4000     81.00        77         100        1.32

In [35]:
hotel_df =weather_data_df.loc[(weather_data_df['Max Temp'] > 65) &
                    (weather_data_df['Max Temp'] < 87) &
                    (weather_data_df['Wind Speed'] < 7) &
                    (weather_data_df['Cloudiness'] < 10)]

hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
35,saint george,37.1041,-113.5841,78.01,18,1,0.89
61,saint-philippe,-21.3585,55.7679,77.00,83,0,4.61
121,chuy,-33.6971,-53.4616,71.01,45,0,3.76
125,general roca,-39.0333,-67.5833,73.40,53,0,2.30
128,freeport,40.6576,-73.5832,70.00,72,1,3.44
194,cidreira,-30.1811,-50.2056,68.70,60,0,6.67
219,lilongwe,-13.9669,33.7873,66.13,88,0,3.78
239,kudahuvadhoo,2.6708,72.8944,83.35,72,7,6.20
247,korla,41.7597,86.1469,69.60,16,0,3.91
258,lompoc,34.6391,-120.4579,80.01,31,3,4.61
269,abadan,30.3392,48.3043,84.20,26,0,4.61
271,chongwe,-15.3292,28.6820,73.40,68,0,6.91
291,la colmena,-25.8833,-56.8167,74.30,33,0,4.74
299,jackson,42.4165,-122.8345,73.00,39,1,2.82
307,oussouye,12.4850,-16.5469,86.00,69,0,6.91
327,wadi musa,30.3222,35.4793,72.21,20,0,5.53
344,faxinal,-24.0003,-51.3194,73.92,29,0,4.88
370,laguna,38.4210,-121.4238,79.00,27,1,5.75
372,santana do livramento,-30.8908,-55.5328,69.96,36,0,4.85
386,karwar,14.8000,74.1333,80.78,78,7,4.05
408,moron,-34.6534,-58.6198,75.99,49,0,5.01
411,mahibadhoo,3.7833,72.9667,83.43,70,7,6.76
434,pinheiro machado,-31.5783,-53.3811,73.00,54,0,3.00
464,aksu,41.1231,80.2644,69.71,12,0,4.43
474,rocha,-34.4833,-54.3333,72.12,49,0,1.32
476,tura,25.5198,90.2201,80.10,31,0,3.31
477,meridian,43.6121,-116.3915,73.00,33,1,2.84
489,goure,13.9835,10.2704,86.56,4,5,6.91
495,inhambane,-23.8650,35.3833,77.00,88,0,4.61
500,yanam,16.7333,82.2167,77.88,83,1,2.15
523,saint-pierre,-21.3393,55.4781,77.00,83,0,4.61
546,todos santos,23.4500,-110.2167,70.00,69,0,1.01

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [36]:
#reference
hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
35,saint george,37.1041,-113.5841,78.01,18,1,0.89
61,saint-philippe,-21.3585,55.7679,77.00,83,0,4.61
121,chuy,-33.6971,-53.4616,71.01,45,0,3.76
125,general roca,-39.0333,-67.5833,73.40,53,0,2.30
128,freeport,40.6576,-73.5832,70.00,72,1,3.44

In [41]:
hotel_df['Hotel Name']= ''
hotel_df.head()

C:\Users\burns\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Hotel Name
35,saint george,37.1041,-113.5841,78.01,18,1,0.89,
61,saint-philippe,-21.3585,55.7679,77.00,83,0,4.61,
121,chuy,-33.6971,-53.4616,71.01,45,0,3.76,
125,general roca,-39.0333,-67.5833,73.40,53,0,2.30,
128,freeport,40.6576,-73.5832,70.00,72,1,3.44,

In [42]:
#call using Google Places API

#https://maps.googleapis.com/maps/api/place/nearbysearch/output?parameters

#API DOC SITE: https://developers.google.com/maps/documentation/places/web-service/search#PlaceSearchRequests

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure