# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [20]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from config import g_key
from config import api_key

# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [21]:
file= '../Weather_Jake.py/weather_data.csv'
weather_data_df= pd.read_csv(file)

weather_data_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,ancud,-41.8697,-73.8203,55.99,94,90,17.27,CL,1619813295
1,talcahuano,-36.7167,-73.1167,60.80,77,90,17.27,CL,1619813295
2,okhotsk,59.3833,143.3000,30.69,80,100,4.65,RU,1619813295
3,ushuaia,-54.8000,-68.3000,41.00,81,75,4.61,AR,1619813261
4,saint-philippe,-21.3585,55.7679,75.20,83,0,5.75,RE,1619813296
...,...,...,...,...,...,...,...,...,...
537,kailua,21.4022,-157.7394,80.60,73,90,11.50,US,1619813405
538,ahmadpur,18.7000,76.9333,86.56,31,69,7.34,IN,1619813405
539,road town,18.4167,-64.6167,82.40,65,40,10.36,VG,1619813149
540,dedza,-14.3779,34.3332,58.57,88,5,1.97,MW,1619813405
541,okha,53.5739,142.9478,30.85,87,100,7.67,RU,1619813405

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [22]:
#capture lat and long
locations= weather_data_df[['Lat', 'Lng']]

humidity_weight= weather_data_df['Humidity']

In [23]:
#plot heatmap with gmaps
fig = gmaps.figure()

#create heat layer on top of gmaps
#make weight of heatmap reflect humidity
heat_layer= gmaps.heatmap_layer(locations, weights=humidity_weight, dissipating=False, max_intensity=100,
                                 point_radius=1.5)

#add layer to figure
fig.add_layer(heat_layer)

#Display combined
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [24]:
#reference main df
weather_data_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,ancud,-41.8697,-73.8203,55.99,94,90,17.27,CL,1619813295
1,talcahuano,-36.7167,-73.1167,60.80,77,90,17.27,CL,1619813295
2,okhotsk,59.3833,143.3000,30.69,80,100,4.65,RU,1619813295
3,ushuaia,-54.8000,-68.3000,41.00,81,75,4.61,AR,1619813261
4,saint-philippe,-21.3585,55.7679,75.20,83,0,5.75,RE,1619813296

In [25]:
hotel_df =weather_data_df.loc[(weather_data_df['Max Temp'] > 65) &
                    (weather_data_df['Max Temp'] < 87) &
                    (weather_data_df['Wind Speed'] < 7) &
                    (weather_data_df['Cloudiness'] < 10)]

hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,saint-philippe,-21.3585,55.7679,75.20,83,0,5.75,RE,1619813296
18,netrakona,24.8833,90.7167,79.65,50,4,5.32,BD,1619813298
47,umm lajj,25.0213,37.2685,85.86,38,0,6.51,SA,1619813303
83,campos novos,-27.4017,-51.2250,65.34,52,5,4.63,BR,1619813310
97,trinidad,-14.8333,-64.9000,84.20,39,0,6.91,BO,1619813041
136,jacareacanga,-6.2222,-57.7528,82.40,78,0,4.61,BR,1619813320
151,doha,25.2867,51.5333,82.99,65,0,5.75,QA,1619813239
169,saint-joseph,-21.3667,55.6167,75.20,83,0,5.75,RE,1619813326
178,ampanihy,-24.7000,44.7500,70.88,71,0,6.91,MG,1619813329
191,yichang,30.7144,111.2847,69.62,70,0,3.91,CN,1619813331
208,atuona,-9.8000,-139.0333,78.87,70,2,4.05,PF,1619813265
219,kudahuvadhoo,2.6708,72.8944,83.14,70,4,2.80,MV,1619813338
222,port hedland,-20.3167,118.5667,71.60,83,2,5.75,AU,1619813338
260,conway,35.0887,-92.4421,79.00,29,1,5.55,US,1619813346
269,netarhat,23.4833,84.2667,71.98,21,0,5.41,IN,1619813348
275,kirkuk,35.4681,44.3922,78.33,26,0,6.02,IQ,1619813349
286,abu samrah,35.3029,37.1841,70.66,34,0,6.53,SY,1619813351
329,umm kaddadah,13.6017,26.6876,83.30,22,6,5.86,SD,1619813361
356,ukiah,39.1502,-123.2078,80.60,28,1,3.44,US,1619813366
364,taihe,30.8712,105.3845,71.40,64,0,0.51,CN,1619813367
377,tambopata,-12.7333,-69.1833,84.20,45,0,4.61,PE,1619813370
378,marsa matruh,31.3525,27.2453,69.80,64,0,4.61,EG,1619813370
395,karratha,-20.7377,116.8463,79.34,46,7,3.36,AU,1619813373
409,rio brilhante,-21.8019,-54.5464,84.74,20,0,5.86,BR,1619813376
417,valparaiso,-33.0393,-71.6273,66.20,67,0,5.75,CL,1619813376
426,pafos,34.7667,32.4167,68.00,68,0,5.75,CY,1619813380
437,aksu,41.1231,80.2644,69.46,13,0,4.12,CN,1619813382
461,punganuru,13.3667,78.5833,74.03,85,1,6.49,IN,1619813388
465,buenos aires,-34.6132,-58.3772,73.99,56,0,6.91,AR,1619813292
477,forio,40.7342,13.8646,69.80,43,0,2.30,IT,1619813391
505,san juan,-31.5375,-68.5364,79.36,26,6,6.42,AR,1619813397
514,yining,29.0361,114.5636,65.30,78,0,2.24,CN,1619813399

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [26]:
#reference
hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,saint-philippe,-21.3585,55.7679,75.20,83,0,5.75,RE,1619813296
18,netrakona,24.8833,90.7167,79.65,50,4,5.32,BD,1619813298
47,umm lajj,25.0213,37.2685,85.86,38,0,6.51,SA,1619813303
83,campos novos,-27.4017,-51.2250,65.34,52,5,4.63,BR,1619813310
97,trinidad,-14.8333,-64.9000,84.20,39,0,6.91,BO,1619813041

In [27]:
hotel_df['Hotel Name']= ''
hotel_df.head()

C:\Users\burns\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
4,saint-philippe,-21.3585,55.7679,75.20,83,0,5.75,RE,1619813296,
18,netrakona,24.8833,90.7167,79.65,50,4,5.32,BD,1619813298,
47,umm lajj,25.0213,37.2685,85.86,38,0,6.51,SA,1619813303,
83,campos novos,-27.4017,-51.2250,65.34,52,5,4.63,BR,1619813310,
97,trinidad,-14.8333,-64.9000,84.20,39,0,6.91,BO,1619813041,

In [28]:
#call using Google Places API

#https://maps.googleapis.com/maps/api/place/nearbysearch/output?parameters
#output is json  so:

#base url to be used later:   https://maps.googleapis.com/maps/api/place/nearbysearch/json (parameters)

#API DOC SITE: https://developers.google.com/maps/documentation/places/web-service/search#PlaceSearchRequests

In [29]:
# set base_url to be used with parameters

base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

In [30]:
#api call requires parameters to be set up

# params dictionary to update each iteration
paramaters = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

###### Test API Call URL:

In [31]:
#test url

#don't print with api key on public repository

#         get lat, lng from df
# lat_test = -21.3585
# lng_test = 55.7679


# paramaters['location']= f"{lat_test},{lng_test}"

#           make request and print url
# name_address = requests.get(base_url, params=paramaters)
    
#          print the name_address url, avoid doing for public github repos in order to avoid exposing key
#print(name_address.url)

In [32]:
#create test df of nly 5 cities to test when making first call to ensure code works


#this allows you to check code without making too many pulls

test_df = hotel_df.head(1)
test_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
4,saint-philippe,-21.3585,55.7679,75.2,83,0,5.75,RE,1619813296,

#### Once code is confirmed to work, replace test_df  with  hotel_df and collect hotel name for all cities:

In [33]:
# use for loop with api call to obtain all cities in df using hotel_df

# .index neaded to grab value at df location

for near_hotel in hotel_df.index:
    # get lat, lng from df
    #iterate through each row(near_hotel) 
    lat = hotel_df["Lat"][near_hotel]
    lng = hotel_df["Lng"][near_hotel]
    
    # change location each iteration while leaving original params in place
    #adds to existing parameter dictionary
    paramaters["location"] = f"{lat},{lng}"
    
    #request url and convert to json
    #request_hotel= (requests.get(base_url, params=paramaters))
    request_json_hotel= (requests.get(base_url, params=paramaters)).json()
    

    #look at json for rfeference
#print(json.dumps(request_json_hotel, indent=4))
    
    
    
    #use try and except to keep code running even if data is missing
    
    #include near_hotel as the index for .loc
    try:
        hotel_df.loc[near_hotel, 'Hotel Name'] = request_json_hotel['results'][0]['name']
        
    except (KeyError, IndexError):
        print('Data Error.....skipping.')

C:\Users\burns\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Data Error.....skipping.
Data Error.....skipping.
Data Error.....skipping.

In [34]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
4,saint-philippe,-21.3585,55.7679,75.20,83,0,5.75,RE,1619813296,"Chambres d'hÃ´te ""La TrinitÃ©"""
18,netrakona,24.8833,90.7167,79.65,50,4,5.32,BD,1619813298,kurpar gas office
47,umm lajj,25.0213,37.2685,85.86,38,0,6.51,SA,1619813303,Moon light Furnished Units
83,campos novos,-27.4017,-51.2250,65.34,52,5,4.63,BR,1619813310,Hotel CorujÃ£o - Campos Novos
97,trinidad,-14.8333,-64.9000,84.20,39,0,6.91,BO,1619813041,Hotel Piesta
136,jacareacanga,-6.2222,-57.7528,82.40,78,0,4.61,BR,1619813320,Casa do IanðŸ˜Ž
151,doha,25.2867,51.5333,82.99,65,0,5.75,QA,1619813239,Movenpick Hotel Doha
169,saint-joseph,-21.3667,55.6167,75.20,83,0,5.75,RE,1619813326,"""Plantation Bed and Breakfast"
178,ampanihy,-24.7000,44.7500,70.88,71,0,6.91,MG,1619813329,Angora Hotel
191,yichang,30.7144,111.2847,69.62,70,0,3.91,CN,1619813331,Gezhouba Hotel
208,atuona,-9.8000,-139.0333,78.87,70,2,4.05,PF,1619813265,Villa Enata
219,kudahuvadhoo,2.6708,72.8944,83.14,70,4,2.80,MV,1619813338,Niyama Private Islands Maldives
222,port hedland,-20.3167,118.5667,71.60,83,2,5.75,AU,1619813338,The Esplanade Hotel
260,conway,35.0887,-92.4421,79.00,29,1,5.55,US,1619813346,"Country Inn & Suites by Radisson, Conway, AR"
269,netarhat,23.4833,84.2667,71.98,21,0,5.41,IN,1619813348,Hotel Verma
275,kirkuk,35.4681,44.3922,78.33,26,0,6.02,IQ,1619813349,ØªÙ„ Ø¹Ø¨Ø¯Ø§Ù„Ø¹Ø²ÙŠØ²
286,abu samrah,35.3029,37.1841,70.66,34,0,6.53,SY,1619813351,
329,umm kaddadah,13.6017,26.6876,83.30,22,6,5.86,SD,1619813361,
356,ukiah,39.1502,-123.2078,80.60,28,1,3.44,US,1619813366,Hampton Inn Ukiah
364,taihe,30.8712,105.3845,71.40,64,0,0.51,CN,1619813367,Meifeng Holiday Inn
377,tambopata,-12.7333,-69.1833,84.20,45,0,4.61,PE,1619813370,
378,marsa matruh,31.3525,27.2453,69.80,64,0,4.61,EG,1619813370,Beau Site
395,karratha,-20.7377,116.8463,79.34,46,7,3.36,AU,1619813373,ibis Styles Karratha
409,rio brilhante,-21.8019,-54.5464,84.74,20,0,5.86,BR,1619813376,Hotel Cattani
417,valparaiso,-33.0393,-71.6273,66.20,67,0,5.75,CL,1619813376,Hotel Ultramar
426,pafos,34.7667,32.4167,68.00,68,0,5.75,CY,1619813380,Elysium Hotel
437,aksu,41.1231,80.2644,69.46,13,0,4.12,CN,1619813382,Pudong Holiday Hotel
461,punganuru,13.3667,78.5833,74.03,85,1,6.49,IN,1619813388,Sai Ram nursery
465,buenos aires,-34.6132,-58.3772,73.99,56,0,6.91,AR,1619813292,Hotel NH Buenos Aires City
477,forio,40.7342,13.8646,69.80,43,0,2.30,IT,1619813391,Hotel Terme Providence
505,san juan,-31.5375,-68.5364,79.36,26,6,6.42,AR,1619813397,Hotel Provincial
514,yining,29.0361,114.5636,65.30,78,0,2.24,CN,1619813399,Xiushui Hotel

In [46]:
clean_hotel_df = hotel_df.dropna(subset= ['Hotel Name'])
clean_hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
4,saint-philippe,-21.3585,55.7679,75.20,83,0,5.75,RE,1619813296,"Chambres d'hÃ´te ""La TrinitÃ©"""
18,netrakona,24.8833,90.7167,79.65,50,4,5.32,BD,1619813298,kurpar gas office
47,umm lajj,25.0213,37.2685,85.86,38,0,6.51,SA,1619813303,Moon light Furnished Units
83,campos novos,-27.4017,-51.2250,65.34,52,5,4.63,BR,1619813310,Hotel CorujÃ£o - Campos Novos
97,trinidad,-14.8333,-64.9000,84.20,39,0,6.91,BO,1619813041,Hotel Piesta
136,jacareacanga,-6.2222,-57.7528,82.40,78,0,4.61,BR,1619813320,Casa do IanðŸ˜Ž
151,doha,25.2867,51.5333,82.99,65,0,5.75,QA,1619813239,Movenpick Hotel Doha
169,saint-joseph,-21.3667,55.6167,75.20,83,0,5.75,RE,1619813326,"""Plantation Bed and Breakfast"
178,ampanihy,-24.7000,44.7500,70.88,71,0,6.91,MG,1619813329,Angora Hotel
191,yichang,30.7144,111.2847,69.62,70,0,3.91,CN,1619813331,Gezhouba Hotel
208,atuona,-9.8000,-139.0333,78.87,70,2,4.05,PF,1619813265,Villa Enata
219,kudahuvadhoo,2.6708,72.8944,83.14,70,4,2.80,MV,1619813338,Niyama Private Islands Maldives
222,port hedland,-20.3167,118.5667,71.60,83,2,5.75,AU,1619813338,The Esplanade Hotel
260,conway,35.0887,-92.4421,79.00,29,1,5.55,US,1619813346,"Country Inn & Suites by Radisson, Conway, AR"
269,netarhat,23.4833,84.2667,71.98,21,0,5.41,IN,1619813348,Hotel Verma
275,kirkuk,35.4681,44.3922,78.33,26,0,6.02,IQ,1619813349,ØªÙ„ Ø¹Ø¨Ø¯Ø§Ù„Ø¹Ø²ÙŠØ²
286,abu samrah,35.3029,37.1841,70.66,34,0,6.53,SY,1619813351,
329,umm kaddadah,13.6017,26.6876,83.30,22,6,5.86,SD,1619813361,
356,ukiah,39.1502,-123.2078,80.60,28,1,3.44,US,1619813366,Hampton Inn Ukiah
364,taihe,30.8712,105.3845,71.40,64,0,0.51,CN,1619813367,Meifeng Holiday Inn
377,tambopata,-12.7333,-69.1833,84.20,45,0,4.61,PE,1619813370,
378,marsa matruh,31.3525,27.2453,69.80,64,0,4.61,EG,1619813370,Beau Site
395,karratha,-20.7377,116.8463,79.34,46,7,3.36,AU,1619813373,ibis Styles Karratha
409,rio brilhante,-21.8019,-54.5464,84.74,20,0,5.86,BR,1619813376,Hotel Cattani
417,valparaiso,-33.0393,-71.6273,66.20,67,0,5.75,CL,1619813376,Hotel Ultramar
426,pafos,34.7667,32.4167,68.00,68,0,5.75,CY,1619813380,Elysium Hotel
437,aksu,41.1231,80.2644,69.46,13,0,4.12,CN,1619813382,Pudong Holiday Hotel
461,punganuru,13.3667,78.5833,74.03,85,1,6.49,IN,1619813388,Sai Ram nursery
465,buenos aires,-34.6132,-58.3772,73.99,56,0,6.91,AR,1619813292,Hotel NH Buenos Aires City
477,forio,40.7342,13.8646,69.80,43,0,2.30,IT,1619813391,Hotel Terme Providence
505,san juan,-31.5375,-68.5364,79.36,26,6,6.42,AR,1619813397,Hotel Provincial
514,yining,29.0361,114.5636,65.30,78,0,2.24,CN,1619813399,Xiushui Hotel

In [47]:
clean_hotel_df.dtypes

City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date            int64
Hotel Name     object
dtype: object

In [39]:



# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = '''
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
'''
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
marker_locations = hotel_df[["Lat", "Lng"]]

Figure(layout=FigureLayout(height='420px'))

In [44]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(marker_locations,info_box_content=hotel_info, display_info_box=True)
# Add the layer to the map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))